.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-content {
  background-color: yellow;
  height: 70vh;
  width: 60vw;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-side {
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.register-side {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}
