.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 10vh;
  background-color: teal;
  color: white;
  width: 100%;
  z-index: 1;
}

.logo-side {
  flex: 1;
  margin-left: 30px;
}

.links-side {
  flex: 4;
  display: flex;
  justify-content: center;
  margin-left: 30px;
}

.nav-link {
  margin-left: 30px;
}
.profil-side {
  flex: 1;
}
.profil-link {
  margin-right: 30px;
}
