.container {
  position: relative;
  top: 10vh;
  height: 50vh;
}

.inputs-card {
  width: 50vw;
  min-height: 20vh;
  height: fit-content;
  border: teal solid 3px;
  border-top-width: 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
